@font-face {
    font-family: VIPArabicTypo;
    src: url(media/fonts/VIPArabicTypo.otf);
}
@font-face {
    font-family: comfotaa;
    src: url(media/fonts/Comfortaa-VariableFont_wght.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    color: white;
    width:100vw;
    height: 100%;
    padding-bottom: 300px;
    overflow-x: hidden;
    background-color: #1F2937;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    position: relative;
}

.loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(39, 39, 39);
    z-index: 100;
}
.loading-screen-group {
    position: absolute;
    top: 50vh;
    left: 50vw;
    translate: -50% -50%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    font-weight: bold;
}

.loading-screen-group img {
    width: 14rem;
    animation: 2.8s infinite linear rotate;
}

.loading-screen-group h3 {
    display: inline-block;
}

@keyframes rotate {
    0% {rotate: 0deg;}
    100% {rotate: 359deg;}
}

/* Moving text animation */
.moving-text-container {
    position: relative;
}
.moving-text-container span {
    position: relative;
    display: inline-block;
    color: white;
    animation: movingText 1s infinite;
    animation-delay: calc(0.1s*var(--i));
}

@keyframes movingText {
    0%, 40%, 100% {
        transform: translateY(0);
    }
    20% {
        transform: translateY(-20px);
    }
}

/* navbar */
.main-navbar {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 65px;
    background-color: black;
    z-index: 1;
    display: flex;
    justify-content: space-between;
}

.navbar-left-side {
    display: flex;
    justify-content: end;
    align-items: center;
    text-decoration: none;
    color: white;
}

/* logo */
.navbar-left-side img { 
    position: absolute;
    top: -10px;
    left: 10px;
    width: 10rem;
}
/* tosads h3 */
.navbar-left-side h3 {
    margin-left: 13rem;
    font-family: VIPArabicTypo, sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    position: relative;
}
.tosadsnavbaricon {
    background-color: black;
    border-radius: 50%;
    margin-top: 10px;
    opacity: 0.9;
}

.forexams {
    font-size: 0.7rem;
    position: absolute;
    bottom: -0.9rem;
    left: -1.4rem;
    color: white;
    text-shadow: 0px 0px 4px #57abb5;
}

.navbar-right-side {
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    margin-right: 2rem;
}
.navbar-right-side a {
    text-decoration: none;
    color: black ;
    font-family: VIPArabicTypo, sans-serif;
    background-color: #FFF;
    padding: 3px 7px;
    border-radius: 20px;
    transition: 0.15s;
}

.navbar-right-side a:hover {
    background-color: rgb(181, 181, 181);
}

.header-qoute {
    text-align: center;
    margin-top: 40px;
}

.mainCatagoriesDiv {
    min-height: 100vh;
    margin-top: 65px;
    mask-image: linear-gradient(black 90%, transparent);
    -webkit-mask-image: linear-gradient(black 95%, transparent);
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.catagories {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin: 2.0rem 2rem 2rem 2rem;
}

.catagoryDiv {
    background-color: #e8e8e8;
    color: black;
    width: 11rem;
    height: 11rem;
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    transition: 0.15s;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-around;
    font-weight: bold;
    font-size: 1.3rem;
    border-bottom: 6px solid #d4d4d4;
    border-left: 6px solid #d4d4d4;
    border-right: 6px solid #d4d4d4;
    border-top: 6px solid #ffffff;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(7, 7, 7, 0.697);
    

}
.catagoryDiv:hover {
    background-color: #cfcfcf;
}

.back-icon {
    font-size: 20px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: #0f656c;
    color: rgb(211, 211, 211);
    font-family: "IBM Plex Sans Arabic", sans-serif;
    font-weight: bold;
    cursor: pointer;
}

.small-div {
    display: flex;
    flex-direction: column;
    border: 1px solid black; 
    padding: 5px;
    background-color: #cfcfcf;
}
.small-div hr {
    background-color: black;
    height: 1px;
    border: 0;
}

.homeBtn {
    background-color: transparent;
    border: none;
    border-radius: 100%;
    position:fixed;
    bottom: 15px;
    right: 15px;
    z-index: 4;
    padding: 10px;
    text-align: center;
    align-items: center;
    cursor: pointer;
}


.examDiv {
    background-color: #377279;
    color: white;
    padding: 10px;
    max-width: 13rem;
    text-align: end;
    border-radius: 15px;
    transition: 0.15s;
    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: space-around;
    direction: rtl;
    font-weight: 500;
    font-size: 1.2rem;
    gap: 1rem;
    border-bottom: 6px solid #265154;
    border-left: 6px solid #265154;
    border-right: 6px solid #265154;
    border-top: 6px solid #45929a;
    cursor: pointer;
    position: relative;
}
.examDiv:hover {
    background-color: #45929a;
}

.examDiv p {
    display: flex;
    gap: 10px;
    text-wrap: wrap;
}


.filterInput {
    background-color: #204749; 
    color: white; 
    font-weight: bold; 
    font-size: 13px; 
    text-align: center;
    width: 200px; 
    padding: 10px; 
    border-top: 0;
    padding-top: 15px;
    border-left: 2px solid #45929a; 
    border-right: 2px solid #45929a; 
    border-bottom: 2px solid #45929a; 
    border-radius: 0px 0px 10px 10px; 
    outline: none; 
    cursor: pointer; 
    font-family: "IBM Plex Sans Arabic", sans-serif;
    transition: all 0.3s ease;

    position: absolute;
    top: 0px;
    right: 53px;
    z-index: 5;
}

.filterInput:hover {
    background-color: #377279; 
    border-color: #57abb5;
    box-shadow: 0 0 8px rgba(64, 128, 135, 0.6);
}

.filterInput:focus {
    border-color: #57abb5; 
    box-shadow: 0 0 12px rgba(87, 171, 181, 0.8);
}

.filterInput option {
    background-color: #1F2937; 
    color: white; 
    font-weight: bold; 
    font-size: 14px; 
    padding: 10px; 
    text-align: center; 
    transition: background-color 0.3s ease; 
    
    z-index: 5;
}

.filterInput option:hover {
    background-color: #45929a; 
    color: white; 
}

.filterInput option:checked {
    background-color: #377279; 
    color: white; 
}


.examDiv p:nth-child(1),.examDiv p:nth-child(2) {
    justify-content: center;
    align-items: center;
    text-align: start;
}


.addedBy {
    text-align: center;
    align-self: center;
    font-size: 17px;
    border: double gold;
    padding: 2px;

}

.no-exams a {
    color: white;
}

#aboutus {
    text-align: center;
    font-size: 1.3rem;
    direction: rtl;
    font-family: "IBM Plex Sans Arabic", sans-serif;
    font-weight: 500;
    margin: 6rem 4rem;
    line-height: 150%;
    position: relative;
    background-color: rgb(146, 146, 146);
    color: black;
    padding: 20px 0;
    border-radius: 5px;
    border: 2px solid white;
    box-shadow: 0 0 6px 2px white;
}

@media (max-width: 611px) {
    #aboutus{ 
        margin: 6rem 2rem;
    }
    .mainCatagoriesDiv {
        mask-image:none;
        -webkit-mask-image: none;
    }
}

#aboutus h1 {
    text-align: center;
    margin-top: 0.5rem;
}
.aboutus-article {
    margin: 0.5rem;
}
@media (max-width: 717px) {
    #aboutus {
        font-size: 1.1rem;
    }
}

.aboutus-cards {
    display: flex;
    justify-content: center;
    gap: 100px;
    flex-wrap: wrap;
    margin: 2rem;
}

.aboutus-card {
    border: 2px solid white;
    border-radius: 10px;
    text-decoration: none;
    width: 200px;
    display: flex;
    flex-direction: column;
    font-size: 17px;
    height: fit-content;
}
.aboutus-card img {
    width: 100%;
    background-color: rgba(146, 146, 146, 0.502);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.aboutus-card p {
    background-color: whitesmoke;
    color: black;
    margin: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}

/* 
@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

#aboutus::after, #aboutus::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: conic-gradient(from var(--angle), #377279, white,#377279);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 4px;
    animation: 5s spin linear infinite
}

#aboutus::before {
    filter: blur(1.5rem);
    opacity: 0.7;
}


@keyframes spin {
    from {
        --angle: 0deg;
    } to {
        --angle: 360deg;
    }
}
 */
#aboutus a {
    color: white;
}


footer {
    background-color: black;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
}
footer a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 650px) {



    .mainCatagoriesDiv {
        background: #1F2937;
        background-position: center;
        background-size:cover;
        background-attachment: fixed;
        background-repeat: no-repeat;    
        min-height: 100vh;
        margin-top: 65px;
        mask-image: linear-gradient(black 90%, transparent);
        -webkit-mask-image: linear-gradient(black 90%, transparent);
    }
    
    .catagories {
        margin: 3.5rem 1.5rem 1.5rem 1.5rem;
        
    }
    .catagoryDiv {
        width: 6.9rem;
        height:6.9rem;
        font-size: 0.7rem;
    }
    .filterInput {
         border: 2px solid #45929a;
         border-radius: 10px;
         top: 0;
         left: 50%;
         transform: translate(-50%,0);
    }
    

    .main-navbar {
        position: static;
        margin: 1.5rem;
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 1.4rem;
        padding: 10px;
        border-radius: 10px;
        box-shadow: 0 0 10px 0px white;
        background-image: url(media/images/backgrounds/blackBGBlur.png);
        background-position: 0px 60%;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .navbar-left-side {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        gap: 2rem;
        color: white;
    }
    .navbar-left-side img {
        position: static;
        top: 0px;
        left: 0px;
        width: 8rem;
    }

    .navbar-left-side h3 {
        margin-left: 0;
        font-family: VIPArabicTypo, sans-serif;
        font-weight: 400;
        font-size: 1.4rem;
        text-align: end;
    }

    .navbar-right-side {
        display: flex;
        justify-content: space-between;
        margin: 0;

    }

}
